<p id="notice"><%= notice %></p>

<h1>Listing Contracts</h1>

<table>
  <thead>
    <tr>
      <th>合同名称</th>
      <th>开始时间</th>
      <th>结束时间</th>
      <th>描述</th>
      <th colspan="4">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @contracts.each do |contract| %>
      <tr>
        <td><%= contract.name %></td>
        <td><%= l contract.start_date %></td>
        <td><%= l contract.end_date %></td>
        <td><%= contract.descrption %></td>
        <td><%= link_to 'Show', contract %></td>
        <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
        <td><%= link_to 'Destroy', contract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to '交租阶段', show_rent_phase_contract_path(contract), target: "_blank" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contract', new_contract_path %>
